@use './lib/' as *;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,700;1,400&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Public Sans', sans-serif;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	background-color: $light-grayish-blue;
}

.btn {
	display: inline-block;
	background: linear-gradient(0.25turn, $lime-green, $bright-cyan);
	color: $white;
	padding: 0.7rem 1.5rem;
	text-align: center;
	font-size: 0.75rem;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		background-color: $lime-green;
	}
}
